doctype html
html
  head
    meta(charset='UTF-8')
    title
  body
    link(href='trend.css', media='all', rel='stylesheet')
    script(src='jquery.min.js')
    script(src='jade.min.js')
    script(src='statistics.js')
    script(src='trend.js')